footer {
    background-color: var(--color-principal);
    text-align: center;
    padding: 1rem 0;
.pie {
    margin-bottom: 0.5rem;
}
.redes {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    vertical-align: middle;
}
}