:root {
    --color-principal: #00b4b4;
    --color-fondo: rgb(131, 255, 220);
    --color-texto: #333;
}
$color-principal: #00b4b4;
$color-fondo: rgb(131, 255, 220);
$color-texto: #333;
$fuente-principal: 'Playfair Display', serif;
$fuente-secundaria: 'Tagesschrift', cursive;
$colores-redes: (#004949, #006f7b, #333);